# NOTE: you can let Wasp set up your Postgres DB by running `wasp start db` in a separate terminal window. 
# then, in a new terminal window, run `wasp db migrate-dev` and finally `wasp start`.
# If you use `wasp start db` then you DO NOT need to add a DATABASE_URL env variable here.
# DATABASE_URL=

# For testing, go to https://dashboard.stripe.com/test/apikeys and get a test stripe key that starts with "sk_test_..."
STRIPE_API_KEY=sk_test_...
# After downloading starting the stripe cli (https://stripe.com/docs/stripe-cli) with `stripe listen --forward-to localhost:3001/payments-webhook` it will output your signing secret
STRIPE_WEBHOOK_SECRET=whsec_...
# You can find your Stripe customer portal URL in the Stripe Dashboard under the 'Customer Portal' settings.
STRIPE_CUSTOMER_PORTAL_URL=https://billing.stripe.com/...

# For testing, create a new store in test mode on https://lemonsqueezy.com
LEMONSQUEEZY_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5NGQ1OWNlZi1kYmI4LTRlYTUtYjE3OC1kMjU0MGZjZDY5MTkiLCJqdGkiOiJiNGRiYzE0ZDlhNGFhMjVjZjI3MjNiMzMxMzA2YTljZDZiOTlhY2M2YjBiZDE1NzJiMjAyNTg3OGU0NGM2YjM4ZWQxMGFmMmRhOWYzNTMwMyIsImlhdCI6MTcyNjI1MDcwNy45MzYyODQsIm5iZiI6MTcyNjI1MDcwNy45MzYyODYsImV4cCI6MjA0MTc4MzUwNy44Nzc1NjYsInN1YiI6IjMyMTM2OTYiLCJzY29wZXMiOltdfQ.UJvGgPT8ULv4pfTS5lyKfabJZUTZHUe9x3Nx0FW_oAlObQHr9ghYmgzsIbHCmanWOmQhWipSl-YbMGaTlHFMb2Pbp_zwbkpWVJ_aPLLpB_ldddRm7fiJaR9hEWiEVSksVjtM8GsmMJX5my9rDI3wH056haKte5ItO1nZGifrI5cLuINdtTfLyRCcToclfRcVQIuK0GojAYAUuGcvP92lQ_ix5Z_bAWmJ9dS0riH1l3NsunMX-FBEYha1_aPeLSc5FhURmb95g9aS0jAVuxyFaZOciPT2w4FwFuHWXQYTAC-BLZWHHTYvhjwL1Ju7LjR9VxdvlGM58NW3T1uvkiTjQwYYa2y8RVjSeDnHCihuRXuW_RnczeTa4ifXcRXbrsqRNF0wMkZiOtQcT7z8LUAJsJ-n2Z0YIbY2q2uzYrukcOghfQlwfJzjzBcIovw1Krx1wVUE5qG9AEaLz39dHnGySuytSpP8rVceG8NDjyjrUj7P3fPSQT9iqKWll7dUl1az
# After creating a store, you can find your store id in the store settings https://app.lemonsqueezy.com/settings/stores
LEMONSQUEEZY_STORE_ID=123124
# define your own webhook secret when creating a new webhook on https://app.lemonsqueezy.com/settings/webhooks
LEMONSQUEEZY_WEBHOOK_SECRET=my-webhook-secret

# If using Stripe, go to https://dashboard.stripe.com/test/products and click on + Add Product
# If using Lemon Squeezy, go to https://app.lemonsqueezy.com/products and create new products and variants
PAYMENTS_HOBBY_SUBSCRIPTION_PLAN_ID=012345
PAYMENTS_PRO_SUBSCRIPTION_PLAN_ID=012345
PAYMENTS_CREDITS_10_PLAN_ID=012345

# set this as a comma-separated list of emails you want to give admin privileges to upon registeration
ADMIN_EMAILS=sean@thisisoutmost.com,seantmahoney92@gmail.com

# see our guide for setting up google auth: https://wasp-lang.dev/docs/auth/social-auth/google
GOOGLE_CLIENT_ID=722...
GOOGLE_CLIENT_SECRET=GOC...

# get your sendgrid api key at https://app.sendgrid.com/settings/api_keys
SENDGRID_API_KEY=test...

# (OPTIONAL) get your openai api key at https://platform.openai.com/account
OPENAI_API_KEY=sk-k...

# (OPTIONAL) get your plausible api key at https://plausible.io/login or https://your-plausible-instance.com/login
PLAUSIBLE_API_KEY=gUTgtB...
# You will find your site id in the Plausible dashboard. It will look like 'opensaas.sh'
PLAUSIBLE_SITE_ID=yoursite.com
PLAUSIBLE_BASE_URL=https://plausible.io/api # if you are self-hosting plausible, change this to your plausible instance's base url

# (OPTIONAL) get your google service account key at https://console.cloud.google.com/iam-admin/serviceaccounts
GOOGLE_ANALYTICS_CLIENT_EMAIL=email@example.gserviceaccount.com
# Make sure you convert the private key within the JSON file to base64 first with `echo -n "PRIVATE_KEY" | base64`. see the docs for more info. 
GOOGLE_ANALYTICS_PRIVATE_KEY=LS02...
# You will find your Property ID in the Google Analytics dashboard. It will look like '987654321'
GOOGLE_ANALYTICS_PROPERTY_ID=123456789

# (OPTIONAL) get your aws s3 credentials at https://console.aws.amazon.com and create a new IAM user with S3 access
AWS_S3_IAM_ACCESS_KEY=ACK...
AWS_S3_IAM_SECRET_KEY=t+33a...
AWS_S3_FILES_BUCKET=your-bucket-name
AWS_S3_REGION=your-region